<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICurrencyWordConverter" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55757/CurrencyWordConverter.svc/ConvertCurrencyToPhrase"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICurrencyWordConverter"
                contract="CurrencyWordConverter.ICurrencyWordConverter" name="BasicHttpBinding_ICurrencyWordConverter" />
        </client>
    </system.serviceModel>
</configuration>